/* ____________  FONTS  _______________ */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Roboto:wght@400;700&display=swap');
@font-face {
  font-family: f1;
  src: url(./fonts/CaviarDreams.ttf);
}
@font-face {
  font-family: f1-bold;
  src: url(./fonts/CaviarDreams_Bold.ttf);
}
@font-face {
  font-family: f2;
  src: url(./fonts/GROBOLD.ttf);
}
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto', sans-serif; */





*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: f1-bold;

}