/* ____________  FONTS  _______________ */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Roboto:wght@400;700&display=swap');

/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
body{
  cursor:url("./assets/n9.cur"),default; 
  display: block;
  width:100%;
  height:100%;
  background:rgb(0, 0, 0);
  background-size: cover !important;
  background-origin: border-box;
  overflow-x: hidden; 
  scroll-behavior: smooth;
}
a:hover,img:hover{
  cursor:url("./assets/n14.cur"),default !important; 
  
}
.app{
  height: 100vh;
}

